.App {
  text-align: center;
}

.full-screen {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 88vh;
  background-color: rgb(151, 241, 241);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12vh;
  background-color: rgb(190, 175, 204);
}

.nav-bar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(245, 171, 145);
  width: 98vw;
  height: 8vh;
}

.logo {
  position: relative;
  background-color: crimson;
}

.plain-link {
  text-decoration: none;
  background-color: chartreuse;
  padding: 3vh 8.5vw;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.plain-link:hover {
  background-color: chocolate;
}
