.App {
  text-align: center;
}

.full-screen {
  height: 100vh;
  background-color: rgb(151, 241, 241);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12vh;
  background-color: rgb(190, 175, 204);
}

.nav-bar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(245, 171, 145);
  width: 98vw;
  height: 8vh;
}
