/* STRUCTURE */
.no-styling {
  text-decoration: none;
}

*:focus {
  outline: none;
}

.App {
  color: aliceblue;
  text-align: center;
  display: grid;
  grid-template-rows: 12vh auto;
  grid-template-columns: 25vw 75vw;
  grid-template-areas:
    "header header"
    "sidenav contents";
}
/* FOR INTRO PAGE */
.full-viewport {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background: linear-gradient(
    to bottom right,
    rgb(44, 31, 43),
    rgb(78, 78, 78)
  );
}

.full-screen-scroll {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(
    to bottom right,
    rgb(32, 32, 32),
    rgb(78, 78, 78)
  );
  grid-area: contents;
  overflow: auto;
  height: 88vh;
}
/* NAVS */
.header {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  grid-area: header;
  overflow: hidden;
  z-index: 100;
}

.nav-bar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: fuchsia;
  width: 100vw;
  height: 12vh;
}

.sidenav {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 25vw;
  height: 88vh;
  top: 12vh;
  align-items: center;
  justify-content: space-around;
  grid-area: sidenav;
  background-color: darkslategray;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 33vw;
  height: 11.4vh;
  font-weight: 700;
  letter-spacing: 0.1em;
  background-color: darkslategray;
  color: aliceblue;
}

.nav-link:hover,
.nav-link:focus {
  background-color: #2f4f4f00;
}

.category-radio {
  display: flex;
  align-items: flex-start;
  width: 20vw;
}

.sort-section {
  display: flex;
  flex-direction: column;
}

#sort-by {
  margin-top: 0;
}
/* GENERIC STYLING */
ul,
li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style-type: none;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
}

form {
  background-color: dimgray;
  padding: 0.5em 0.3em;
  border-radius: 0.2em;
  border-color: fuchsia;
  border-style: ridge;
  color: aliceblue;
}

label,
input {
  padding-bottom: 0.2em;
}

h4,
h3 {
  margin: 0.4em;
}

button {
  display: inline-block;
  border-radius: 0.3em;
  border: fuchsia;
  border-style: ridge;
  padding: 0.8rem 1.6rem;
  margin: 0;
  text-decoration: none;
  background: #ff00ff00;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 300ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background-color: fuchsia;
  border-style: outset;
}
.content {
  width: 55vw;
}
/* CARD */
.card {
  display: flex;
  flex-direction: column;
  min-width: 40vw;
  background: linear-gradient(
    to bottom right,
    rgb(101, 12, 104),
    rgba(101, 12, 104, 0.2)
  );
  color: aliceblue;
  margin: 3rem 0 3rem 0;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
}

.card:hover,
.card:focus {
  transform: scale(1.03);
  border-color: fuchsia;
  box-shadow: 0 3px 10px rgb(255, 0, 255);
}

.card-info {
  display: flex;
}

.card-details {
  padding: 0.3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.votes-section {
  display: flex;
  justify-content: space-around;
}

.votes {
  padding-top: 0.45em;
}

.logo {
  position: relative;
  margin: 3rem 0 5rem 0;
  padding: 1em 0 1em 0;
  border-radius: 0.2em;
  background-color: fuchsia;
}

.small-icon {
  width: 14vw;
}
/* REVIEWS */
.review-img {
  height: 20vh;
  width: 20vh;
  object-fit: cover;
}

#review-body {
  background-color: aliceblue;
  color: black;
  border-radius: 0.2em;
  padding: 0.5em;
}

/* COMMENTS */
.comments {
  border-radius: 0.2em;
  color: black;
  margin-bottom: 0.5em;
  background-color: aliceblue;
}

#post-comment {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 3em;
}

/* INTRO PAGE */
.dropdown {
  display: flex;
  width: 45vw;
  justify-content: space-between;
  margin-top: 2em;
  opacity: 0.8;
}
